<header id="header-top" class="header-top">
  <ul>
    <li>
      <div class="header-top-left">
        <ul>
          <li class="select-opt header-top-contact">
              <a href="#">Home</a>
          </li>
          <li class="select-opt header-top-contact">
            <a href="#">Kerala</a>
        </li>
        <li class="select-opt header-top-contact">
          <a href="#">About</a>
      </li>
        </ul>
      </div>
    </li>
    <li class="head-responsive-right pull-right">
      <div class="header-top-right">
        <ul>
          <li class="header-top-contact">
            <a routerLink="/login">Login</a>
          </li>
          <li class="header-top-contact">
            <a routerLink="/signup">Singn Up</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>

  </header>

    <h1 style="text-align: center;">{{district.name}}</h1>
    <h4 style="text-align: center;padding:20px;">{{district.description}}</h4>
    <p class="detailDescription">{{district.detail_description}}</p>

     <p style="font-size: 25px;padding:10px;margin-left: 30px;font-weight: bold;color:#117903;">Top destinations in {{district.name}}</p>
     <div class="container-fluid">
      @for(item of district.places_to_visit; track item.name){
    <div appHover class="explore">
        <div class="placeIntro">
            <h3>{{item.name}}</h3>
            <p>{{item.description}}</p>
        </div>
        <div class="placeImg">
            <img src="{{item.place_image}}">
        </div>
    </div>
}
</div>
