* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
  background: url("https://images.pexels.com/photos/1376401/pexels-photo-1376401.jpeg?auto=compress&cs=tinysrgb&w=600"), #000;
  background-position: center;
  background-size: cover;
}

.wrapper {
  width: 400px;
  height: 600px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(4, 4, 4, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #050505;
}

.input-field {
  position: relative;
  margin: 15px 0;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #090909;
  border-bottom: 1px solid rgba(10, 10, 10, 0.5);
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #000000;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #000000;
}

.forget label {
  display: flex;
  align-items: center;
  color: #000000;
}

.forget label span {
  margin-left: 8px;
}

.forget a {
  color: #000000;
  text-decoration: none;
}

.forget a:hover {
  text-decoration: underline;
}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  color: #fff;
  border-color: #070707;
  background: rgba(9, 9, 9, 0.15);
}

.register {
  margin-top: 30px;
  color: #060606;
}

.register p {
  margin: 0;
}

.register a {
  color: #070707;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}
