<div class="wrapper">
  <form [formGroup]="signupform" (ngSubmit)="onSubmit()">
    <h2 routerLink="/login" routerLinkActive="router-link-active" >Signup</h2>
    <div class="input-field">
      <input type="name" required formControlName="name">
      <label>Enter your Full name</label>
    </div>
    @if (signupform.controls['name'].errors?.['required']) {
      <div class="alert" style="color: rgb(245, 247, 245);">This is a required field</div>
    }@else if(signupform.controls['name'].errors?.['minlength']){
      <div style="color: rgb(243, 245, 243);">Minimum 4 letters required</div>
    }
    <div class="input-field">
      <input type="email" required formControlName="email">
      <label>Enter your email</label>
    </div>
    @if (signupform.controls['email'].errors?.['required']) {
      <div class="alert" style="color: rgb(245, 247, 245);">This is a required field</div>
    }@else if(signupform.controls['email'].errors?.['minlength']){
      <div style="color: rgb(243, 245, 243);">Minimum 4 letters required</div>
    }
    <div class="input-field">
      <input type="password" required formControlName="password">
      <label>Enter your password</label>
    </div>
    @if (signupform.controls['password'].errors?.['required']) {
      <div class="alert" style="color: rgb(245, 247, 245);">This is a required field</div>
    }@else if(signupform.controls['password'].errors?.['minlength']){
      <div style="color: rgb(243, 245, 243);">Minimum 4 letters required</div>
    }
    <button type="submit">SignUp</button>
    <div class="register">
      <p>Already have an account? <a routerLink="/login">login</a></p>
    </div>
  </form>
</div>
